
  services:
    mysql:
      image: mysql:8
      container_name: gameflix-mysql
      environment:
        MYSQL_ROOT_PASSWORD: Icecolds78
        MYSQL_DATABASE: gameflix
      ports:
        - "3306:3306"
      healthcheck:
        test: [ "CMD-SHELL", "mysqladmin ping -h localhost -uroot -pIcecolds78 || exit 1" ]
        interval: 10s
        timeout: 10s
        retries: 10
      volumes:
        - mysql_data:/var/lib/mysql
      restart: always

    gameflix-app:
      build: .
      container_name: gameflix-gameflix-app
      depends_on:
        mysql:
          condition: service_healthy
      ports:
        - "8081:8081"
      environment:
        SPRING_PROFILES_ACTIVE: docker
      restart: on-failure

  volumes:
    mysql_data:
